/* Header */
header {
    padding: 40px;
    text-align: center;
    background: #13293d;
    color: #fff;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header h1 {
    font-size: 200%;
}

header h1::after {
    font-family: Impact;
    content: 'Full Stack Dev';
    color: #8ac4ff;
    margin-left: 5px;
  }

/* Navigation */
nav {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
  
button {
    width: 250px;
    margin: 0 .5%;
    font-size: 200%;
    color: #13293d;
    background-color: rgba(240, 167, 167, 0.274);
    border: 3px solid #13293d;
}

button:hover {
    background-color: #8ac4ff;
    color: #fff;
}
  
button:active {
    font-size: 180%;
    box-shadow: 0 0 10px #000 inset;
}
  
button:focus {
    outline: none;
    border-color: #8ac4ff;
}

/* About Me Section */
.about {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    border: 3px solid gray;
    padding: 10px;
    background-color: rgba(237, 178, 69, 0.892);
}

.description {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: max-content;
}

.description h2 {
    font-size: 200%;
}

.description ul {
    margin-top: 20px;
    list-style: circle;
}

.description ul li {
    margin-bottom: 3px;
}

/* Portfolio Section */
.work {
    margin-top: 50px;
}

.work h2 {
    font-size: 200%;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .flex-item {
    border: 3px solid black;
    background-color: rgb(44, 85, 132);
    color: black;
    min-height: 150px;
    max-height: 150px;
    flex-basis: 100%;
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
  }
  
  /* feature first portfolio item */
  /* .flex-item:first-child {
      min-height: 400px;
      flex-basis: 100%;
  } */
  
  .flex-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .flex-item div {
    background-color: lightcyan;
    padding: 8px 10px;
  }
  
  .flex-item h3 {
    font-size: 1.6rem;
  }
  

/* Contacts Section */
.contacts {
    margin: 50px;
}

.contacts h2 {
    display: flex;
    justify-content: center;
    font-size: 200%;
    margin-bottom: 10px;
}

.contacts address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
  
.contacts address a {
    color: black;
    padding: 5px;
    text-decoration: none;
    font-size: 1.3rem;
    font-style: normal;
    background-image: linear-gradient(270deg, lightblue 0%, lightblue 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    margin: 0 0.2rem 0.1rem;
    display: inline-block;
}

.contacts address a:hover {
    background-size: 100% 88%;
    color: var(--secondary);
}

footer {
    display: flex;
    justify-content: center;
}
  
/* Media Querys */
/* Laptop? */
@media screen and (max-width: 992px) {
    button {
        width: 150px;
        font-size: 150%;
    }

    img {
        width: 200px;
        height: auto;
    }
}

/* Cellphone? */
@media screen and (max-width: 768px) {
    button {
        width: 80px;
        font-size: 40%;
    }

    img {
        width: 100px;
        height: auto;
    }
}